# **Time-Series Hierarchial Clustering**

In [0]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

## Have a peak at the dataset.

In [116]:
df = pd.read_csv('Sales_Transactions_Dataset_Weekly.csv', index_col = 'Product_Code')
#df = df.sample(100)
df_ = df.copy()
df.head()

              Normalized 0  Normalized 1  ...  Normalized 50  Normalized 51
Product_Code                              ...
P1                    0.44          0.50  ...           0.11           0.39
P2                    0.70          0.60  ...           0.60           0.00
P3                    0.36          0.73  ...           0.45           0.36
P4                    0.59          0.35  ...           0.29           0.35
P5                    0.33          0.13  ...           0.33           0.40

[5 rows x 52 columns]

In [0]:
from fastdtw import fastdtw
from scipy.spatial.distance import euclidean

def dtw(x,y):
  distance, path = fastdtw(x, y, dist=euclidean)
  return distance

In [0]:
def get_dist_matrix(fun):
  org_dists = []

  for i in range(len(df_)):
    for j in range(len(df_)):
      if j > i:
        org_dists.append(fun(df_.iloc[i], df_.iloc[j]))

  return org_dists

In [0]:
import fastcluster as fc
from scipy.cluster.hierarchy import cophenet

def get_linkage(fun): 
  org_dists = get_dist_matrix(fun)

  Z = fc.linkage(org_dists, metric = fun )         
  cophe_corr, _ = cophenet(Z, org_dists)

  return Z, cophe_corr, org_dists

In [0]:
from scipy.cluster.hierarchy import fcluster

Z_dtw, cophe_dtw, dist_dtw = get_linkage(dtw)
Z_euc, cophe_euc, dist_euc = get_linkage(euclidean)

## Single linkage clustering. The results are at the last 2 columns of the table below. Best results were obtained at inconsistency coefficient value 0.5

In [65]:
df['Cluster_DTW'] = fcluster(Z_dtw, 0.5)
df['Cluster_Euclidean'] = fcluster(Z_euc, 0.5)
df.head()

              Normalized 0  Normalized 1  ...  Cluster_DTW  Cluster_Euclidean
Product_Code                              ...
P1                    0.44          0.50  ...          457                 50
P2                    0.70          0.60  ...            1                  3
P3                    0.36          0.73  ...          655                703
P4                    0.59          0.35  ...           27                480
P5                    0.33          0.13  ...          423                 73

[5 rows x 54 columns]

## Evaluation results. The no. of clusters, Cophenet Correlation and Silhouette score of both dynamic time warping(dtw) and euclidean distance are calculated

In [67]:
def print_results():

  print("No. of clusters formed for DTW: ", df['Cluster_DTW'].max())
  print("No. of clusters formed for Euclidean: ", df['Cluster_Euclidean'].max() )
  print()

  print("Cophenet Correlation of DTW: " ,cophe_dtw)
  print("Cophenet Correlation of Euclidean: " ,cophe_euc)  
  print()

  from sklearn import metrics
  from scipy.spatial.distance import squareform

  print("Silhouette Score of DTW: ", metrics.silhouette_score(squareform(dist_dtw), df['Cluster_DTW'], metric= 'precomputed'))
  print("Silhouette Score of Euclidean: ", metrics.silhouette_score(squareform(dist_euc), df['Cluster_Euclidean'], metric='precomputed'))

print_results()

No. of clusters formed for DTW:  668
No. of clusters formed for Euclidean:  752

Cophenet Correlation of DTW:  0.353558351686127
Cophenet Correlation of Euclidean:  0.3794837556009905

Silhouette score of DTW:  0.04716941537314116
Silhouette score of Euclidean:  0.010362454314707552

## Average linkage clustering. The results are at the last 2 columns of the table below. Best results were obtained at inconsistency coefficient value 0.8

In [0]:
def get_linkage(org_dists, fun, method): 
  
  Z = fc.linkage(org_dists, metric = fun, method = method )         
  cophe_corr, _ = cophenet(Z, org_dists)

  return Z, cophe_corr

Z_dtw, cophe_dtw = get_linkage(dist_dtw, dtw, 'average')
Z_euc, cophe_euc = get_linkage(dist_euc, euclidean, 'average')

In [95]:
df['Cluster_DTW'] = fcluster(Z_dtw, 0.8)
df['Cluster_Euclidean'] = fcluster(Z_euc, 0.8)
df.head()

              Normalized 0  Normalized 1  ...  Cluster_DTW  Cluster_Euclidean
Product_Code                              ...
P1                    0.44          0.50  ...          191                132
P2                    0.70          0.60  ...          187                 22
P3                    0.36          0.73  ...          128                  8
P4                    0.59          0.35  ...          289                115
P5                    0.33          0.13  ...          217                154

[5 rows x 54 columns]

## The evaluation results

In [96]:
print_results()

No. of clusters formed for DTW:  321
No. of clusters formed for Euclidean:  309

Cophenet Correlation of DTW:  0.7546561881089391
Cophenet Correlation of Euclidean:  0.7567234436562612

Silhouette score of DTW:  0.10449763284937313
Silhouette score of Euclidean:  0.0007192220045421117

## Complete linkage clustering. The results are at the last 2 columns of the table below. Best results were obtained at inconsistency coefficient value 1.1

In [115]:
Z_dtw, cophe_dtw = get_linkage(dist_dtw, dtw, 'complete')
Z_euc, cophe_euc = get_linkage(dist_euc, euclidean, 'complete')

df['Cluster_DTW'] = fcluster(Z_dtw, 1.1)
df['Cluster_Euclidean'] = fcluster(Z_euc, 1.1)
df.head()

              Normalized 0  Normalized 1  ...  Cluster_DTW  Cluster_Euclidean
Product_Code                              ...
P1                    0.44          0.50  ...           60                125
P2                    0.70          0.60  ...           59                 96
P3                    0.36          0.73  ...           39                153
P4                    0.59          0.35  ...           63                190
P5                    0.33          0.13  ...           76                201

[5 rows x 54 columns]

## The evaluation results

In [114]:
print_results()

No. of clusters formed for DTW:  293
No. of clusters formed for Euclidean:  282

Cophenet Correlation of DTW:  0.7372192506857376
Cophenet Correlation of Euclidean:  0.7130240597075578

Silhouette score of DTW:  0.06304415032021815
Silhouette score of Euclidean:  -0.003818655939584455